body{
color:rgb(1, 42, 153);
background:black;
border-bottom: solid 0px red;
font-family: "Chakra Petch", sans-serif;
margin: 20px
}
/* código omitido */


.categoria-videos{
    display: flex;
    gap: 10px;
}
    

img {
    height: 20px;
}

.categoria-videos img {
    opacity: 0.3;
    height: 200px;
}
.categoria-videos img:hover {
    opacity: 1.0;
    border: 4px solid rgb(5, 45, 105);
}
.categoria h2 {
  color: rgb(42, 122,228)
}